/**********
title_holder.css
**********/
.current_page {
    background-color: #c40000;
}

.title_holder_main{
    background-color: black;
    color: white;
    font-size: xx-large;
    font-weight: bold;
}

.title_holder_name{
    background-color: #dcdcdc;
    margin: 20px 0;
    font-size: x-large;
    font-weight: bold;
}

table {
    font-size: small;
    border-collapse:  collapse; /* セルの線を重ねる */
    table-layout: fixed;
    white-space: nowrap;
    text-align: center;
    width: 100%;
}

/**********
index.css
**********/

/**********
ページのテンプレートレイアウト
**********/

.layout {
    display: flex;
    height: 100vh;
    width: 100vw;
  }
  
  .sub_content {
    background-color: #840000;
    width: 20vw;
    height: 1200px;
  }
  
  .main_content {
    width: 70vw;
    text-align: center;
    /* width: 1000px; */
}
  
  /**********
  ヘッダー
  **********/
  
  .team_image {
    width: 19vw;
    height: 220px;
  }
  
  .sub_content {
    text-align: center;
  }
  
  a{
    display: block;
    color: white;
    font-size: 25px;
    margin: 25px 0;
    text-decoration: none;
  }

